# ---------------------------------------------------------
# Global Defaults
# ---------------------------------------------------------
* @vinodvx

# ---------------------------------------------------------
# Package-Specific Owners
# ---------------------------------------------------------
/docs/ @vinodvx

# ---------------------------------------------------------
# CI/CD & Configuration Pipelines
# ---------------------------------------------------------
/.github/workflows/ @vinodvx